{% extends 'layouts/private.twig' %}

{% block title %}
  Profile
{% endblock %}

{% block content %}
  <div class="mb-8 stats stats-vertical sm:stats-horizontal shadow">
    <div class="stat">
      <div class="stat-figure text-primary">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-8 h-8 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6V4m0 2a2 2 0 100 4m0-4a2 2 0 110 4m-6 8a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4m6 6v10m6-2a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4"></path></svg>
      </div>
      <div class="stat-title">Score total</div>
      <div class="stat-value text-primary">{{ totalScore|default(0) }}</div>
      {# <div class="stat-desc">21% more than last month</div> #}
    </div>

    <div class="stat">
      <div class="stat-figure text-secondary">
        <svg xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          class="inline-block w-8 h-8 stroke-current">
          <path stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M13 10V3L4 14h7v7l9-11h-7z"></path>
        </svg>
      </div>
      <div class="stat-title">Score moyen</div>
      <div class="stat-value text-secondary">{{ averageScore|default(0) }}</div>
      {# <div class="stat-desc">21% more than last month</div> #}
    </div>

    <div class="stat">
      <div class="stat-value">{{ successRateAverage|default(0) }} %</div>
      <div class="stat-title">Taux de réussite</div>
      <div class="stat-desc text-secondary">Sur {{ totalPlayed }} Quizz</div>
    </div>
  </div>

  <form class="flex flex-col gap-2" method="post">
    <div class="flex gap-2">
      <label class="input input-bordered flex items-center gap-2">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-4 h-4 opacity-70"><path d="M2.5 3A1.5 1.5 0 0 0 1 4.5v.793c.026.009.051.02.076.032L7.674 8.51c.206.1.446.1.652 0l6.598-3.185A.755.755 0 0 1 15 5.293V4.5A1.5 1.5 0 0 0 13.5 3h-11Z" /><path d="M15 6.954 8.978 9.86a2.25 2.25 0 0 1-1.956 0L1 6.954V11.5A1.5 1.5 0 0 0 2.5 13h11a1.5 1.5 0 0 0 1.5-1.5V6.954Z" /></svg>
        </svg>

        <input type="email"
          class="grow"
          name="email"
          placeholder="Email"
          value="{{ user.email }}" />
      </label>
    </div>

    <div class="flex gap-2">
      <label class="input input-bordered flex items-center gap-2">
        <svg xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 16 16"
          fill="currentColor"
          class="w-4 h-4 opacity-70">
          <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6ZM12.735 14c.618 0 1.093-.561.872-1.139a6.002 6.002 0 0 0-11.215 0c-.22.578.254 1.139.872 1.139h9.47Z" />
        </svg>

        <input type="text"
          class="grow"
          name="username"
          placeholder="Username"
          value="{{ user.username }}" />
      </label>
    </div>

    <button class="btn btn-primary">Modifier mon profil</button>
  </form>
{% endblock %}
